@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&display=swap');

.about-page {
  font-family: "Instrument Sans", sans-serif;
  background: linear-gradient(135deg, #ffffff, rgb(253, 253, 204), rgb(248, 248, 160));
  animation: bgFlow 10s infinite alternate;
  background-size: 400% 400%;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
 
  min-height: 100vh;
  color: #333;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Header */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-right: 10px;
}

.header h1 {
  font-size: 20px;
  font-weight: 600;
  color: #341439;
}

/* Cards */
.info-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(52, 20, 57, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid white;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(52, 20, 57, 0.3);
}

.info-card h2 {
  font-size: 18px;
  font-weight: 600;
  color: #341439;
  margin-bottom: 10px;
}

.info-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

.info-img {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}

